    .form {
        background-color: #fff;
        padding: 10px;
    }

    .field > *{
        display: block;
    }

    .field > label {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .field > input {
        border-radius: 8px;
        width: 100%;
        outline: none;
        border: 1px solid lightgray;
        padding: 8px;
    }

    .field {
        margin-bottom: 15px;
        position: relative;
    }

    .error {
        position: absolute;
        right: calc(100% + 10px);
        bottom: 0;
        background-color: lightcoral;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 5px 10px; 
        border-radius: 10px;
    }

    .error::after {
        content: '';
        border: 5px solid lightcoral;
        width: 0;
        height: 0;
        top: 40%;
        transform: translate(-50%) rotate(45deg);
        left:100%;
        position: absolute;
    }
    
    .form > button { 
        margin-top: 20px;
    }