.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  box-shadow: 10px 10px 10px 10px rgb(184, 165, 165); ;
  padding: 15px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 500px;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgray;
}


.headerText {
    font-size: 24px;
}

.closeBtn {
    cursor: pointer;
}
