
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.headerText {
    font-size: 24px;
}

.closeBtn {
    cursor: pointer;
}
